.hero {
  /*background: url( ../images/bg-header.jpg ) 50% no-repeat;*/
  background-size: cover;
  position: relative;
  font-size: 12px;
}

/* Device styles */
.mobile {
  font-size: 0.8em;
  line-height: 1.2em;
  overflow: hidden ! important;
}
.tablet {
  font-size: 0.9em;
  line-height: 1.2em;
  overflow: hidden ! important;
}
.desktop {
  overflow: hidden ! important;
}
/* Defaults */
header {
  display: flex;
  position: absolute;
  z-index: 10;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  box-shadow: 0 0 1px rgba( 0, 0, 0, 0.5 );
}
.icon {
  height: 15px;
  margin-top: 10px;
}
.icon-right {
  margin-right: 10px;
}
.icon-left {
  margin-left: 10px;
}
.title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
}
footer {
  display: flex;
  position: absolute;
  z-index: 10;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  box-shadow: 0 0 1px rgba( 0, 0, 0, 0.5 );
}
footer p {
  flex: 1;
  color: #CCC;
  text-align: left;
  margin-left: 10px;
  line-height: 35px;
}
section {
}
p {
  margin: 0;
}
/* Devices */
.device {
  position: absolute;
  z-index: 5;
  display: table;
  table-layout: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}
#device-x {
  top: 22%;
  left: 7%;
  width: 20%;
  /*background-image: url( ../images/iphone.png );*/
}
#device-y {
  top: 20px;
  left: 15%;
  width: 80%;
  z-index: 0;
  /*background-image: url( ../images/laptop.png );*/
}
#device-z {
  top: 17%;
  left: 70%;
  width: 22%;
  /*background-image: url( ../images/tablet.png );*/
}
/* Canvases */
.menu {
  width: 50px;
}
.canvas {
  border: 1px solid #CCC;
  overflow-y: scroll;
  z-index: 5;
  background: #FAFAFA; 
  position: absolute;
  border-radius: 2px;
  opacity: 0;
}
.canvas .screenshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#canvas-x {
    top: 11.5%;
    left: 4%;
    right: 4%;
    bottom: 11%;
}
#canvas-y {
    top: 6%;
    left: 15.4%;
    right: 15%;
    bottom: 13%;
}
#canvas-z {
    top: 8.5%;
    left: 5.5%;
    right: 4.2%;
    bottom: 10%;
}
.messages {
  display: table-cell;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 35px;
}
/* Message components */
.component {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  padding: 10px;
  opacity: 0;
}
.avatar {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 5px;
}
.content {
  flex: 1;
  margin: 0;
}
.system {
  font-style: italic;
  font-size: 0.8em;
  color: #999;
}
.user {
  font-weight: bold;
  font-size: 0.8em;
}
/* Dropzone */
.dropzone {
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  border: 3px solid #CCC;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.75 );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropzone-icon {
  padding: 10px;
}
/* File to upload */
.upload {
  position: absolute;
  text-align: center;
  width: 200px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  transform: translate( 100%, 76% );
}
.upload img {
/*  width: 60px; */
}
/* Uploaded file */
.file {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  height: 150px;
  background: #FFF 50% no-repeat;
  background-size: contain;
  border-radius: 5px;
  border: 1px solid #EEE;
}
/* Progress */
.progress-section {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 10px 0 0;
  background: white;
  border-top: 1px solid #DDD;
  translate: transformY( 100% );
  display: flex;
}
.upload-icon-wrapper,
.cancel-icon-wrapper {
  width: 40px;
  text-align: center;
}
.progress-bar-wrapper {
  flex: 1;
  position: relative;
}
.progress-bar {
  width: 100%;
  height: 2px;
  margin: 4px 0;
  background-color: #EEE;
  border-radius: 5px;
}
.progress {
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  margin: 2px 0;
  background-color: #76CFA6;
  border-radius: 5px;
}
/* Video */
#video-section {
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 70%;
}
.video-sender {
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;
  background: #FFF 50% no-repeat;
  background-size: cover;
  border: 1px solid #EEE;
  border-radius: 3px;
}
.video-recipient {
  width: 49.5%;
  height: 100%;
  display: inline-block;
  background: #FFF 50% no-repeat;
  background-size: cover;
  border: 1px solid #EEE;
  border-radius: 3px;
}