body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: OpenSans, Arial, Helvetica, Sans-Serif;    
}

a:link,
a:hover,
a:visited {
    text-decoration: inherit ! important;
    color: inherit ! important;
}

.vec_Page {
    max-width: 1280px;
    margin: auto;
    box-shadow: 0 0 2px rgba( 0, 0, 0, 0.5 );
}

.vec_Header {
    height: 100px;
    display: flex;
    color: #142937;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.vec_Header_LeftGroup {
    flex: 1;
    order: 1;
    display: flex;
    justify-content: center;    
}

.vec_Header_Logo {
    flex: 0;
    order: 2;
}

.vec_Header_RightGroup {
    flex: 1;
    order: 3;
    display: flex;
    justify-content: center;    
}

.vec_Header_Button {
    margin-left: 10px;
    margin-right: 10px;
}

.vec_Splash {
    background-color: #f7f5f6;
    height: 630px;
}

.vec_Headline {
    background-color: #f7f5f6;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 0px;
}

.vec_Headline h1 {
    font-family: Montserrat, Arial, Helvetica, Sans-Serif;
    color: #142937;
    font-size: 44px;
    font-weight: bold;
    margin: 0px;
}

.vec_Headline h3 {
    margin-top: 23px;
    color: #142937;
    font-size: 16px;
    font-weight: normal;
}

.vec_Headline_cta,
.vec_Benefits_cta {
    margin: auto;
    display: inline-block;
    border-radius: 5px;
    background-color: #5cbe91;
    border: 1px solid #38a271;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 40px 12px 40px;
}

.vec_Headline_cta {
    margin-top: 24px;
}

.vec_Headline_Features {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.vec_Headline_Feature {    
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
}

.vec_Headline_Feature div {
    display: inline-block;
    margin-top: 16px;
    color: #142937;
    font-size: 16px;
    font-weight: 600;    
}

.vec_Blurbs {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4f6680;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

.vec_Blurb {
    margin-left: 45px;
    margin-right: 45px;
}

.vec_Benefits {
    margin: auto;
    text-align: center;
    background-color: #f7f5f6;
}

.vec_Benefits h2 {
    padding-top: 58px;
    margin: 0px;
    font-family: Montserrat, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    color: #132737;
    font-size: 44px;
}

.vec_Benefit {
    width: 260px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.vec_Benefit h3 {
    color: #132737;
    font-size: 20px;
    font-weight: bold;
}

.vec_Benefit div {
    color: #132737;
    font-size: 16px;
}

.vec_Benefit1,
.vec_Benefit3 {
    margin-top: 60px;
}

.vec_Benefit2,
.vec_Benefit4 {
    margin-top: 130px;
}

.vec_Benefits_cta {
    margin-top: 60px;
    margin-bottom: 72px;
}
